In [1]:
# Import the dependencies 
import pandas as pd 
import gmaps
import requests

# Import the API Key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-06-09 21:50:55,22.0752,-159.3190,82.47,72,20,10.36
1,1,Touros,BR,2022-06-09 21:59:47,-5.1989,-35.4608,75.65,90,89,8.75
2,2,Cidreira,BR,2022-06-09 21:54:54,-30.1811,-50.2056,63.99,85,96,14.76
3,3,Madang,PG,2022-06-09 21:59:48,-5.2246,145.7966,77.04,89,54,4.09
4,4,Placido De Castro,BR,2022-06-09 21:59:48,-10.3353,-67.1856,75.06,95,89,1.81

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [6]:
!jupyter nbextension enable --py widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [8]:
# Get the maximum temperature 
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude 
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature 
max_temp = city_data_df["Max Temp"]

# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]

wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria 
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2022-06-09 21:50:55,22.0752,-159.3190,82.47,72,20,10.36
1,1,Touros,BR,2022-06-09 21:59:47,-5.1989,-35.4608,75.65,90,89,8.75
3,3,Madang,PG,2022-06-09 21:59:48,-5.2246,145.7966,77.04,89,54,4.09
4,4,Placido De Castro,BR,2022-06-09 21:59:48,-10.3353,-67.1856,75.06,95,89,1.81
5,5,Hilo,US,2022-06-09 21:52:03,19.7297,-155.0900,82.27,86,100,10.00
6,6,Mecca,SA,2022-06-09 21:58:28,21.4267,39.8261,89.26,39,3,2.44
12,12,Cabedelo,BR,2022-06-09 21:59:49,-6.9811,-34.8339,75.87,82,100,10.16
30,30,Marzuq,YE,2022-06-09 21:59:53,14.4000,46.4667,78.19,43,9,3.69
40,40,Puerto Ayora,EC,2022-06-09 21:50:52,-0.7393,-90.3518,78.76,75,100,9.22
45,45,Atuona,PF,2022-06-09 21:53:17,-9.8000,-139.0333,78.21,67,9,16.26

In [19]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                 City Country  Max Temp      Lat       Lng Hotel Name
0               Kapaa      US     82.47  22.0752 -159.3190
1              Touros      BR     75.65  -5.1989  -35.4608
3              Madang      PG     77.04  -5.2246  145.7966
4   Placido De Castro      BR     75.06 -10.3353  -67.1856
5                Hilo      US     82.27  19.7297 -155.0900
6               Mecca      SA     89.26  21.4267   39.8261
12           Cabedelo      BR     75.87  -6.9811  -34.8339
30             Marzuq      YE     78.19  14.4000   46.4667
40       Puerto Ayora      EC     78.76  -0.7393  -90.3518
45             Atuona      PF     78.21  -9.8000 -139.0333

In [25]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,82.47,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
1,Touros,BR,75.65,-5.1989,-35.4608,INN NEW HORIZON
3,Madang,PG,77.04,-5.2246,145.7966,Comfort Inn Hotel
4,Placido De Castro,BR,75.06,-10.3353,-67.1856,Hotel Carioca
5,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Mecca,SA,89.26,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
12,Cabedelo,BR,75.87,-6.9811,-34.8339,Pousada Camboinha
30,Marzuq,YE,78.19,14.4000,46.4667,
40,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
45,Atuona,PF,78.21,-9.8000,-139.0333,Villa Enata

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""